#wiki-quiz-root {
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 8px #999999;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 13.5px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h2 {
            text-align: center;
            border: 0px;
        }

        .target-title {
            font-weight: bold;
            cursor: default;
            font-size: 15.5px;
            overflow-wrap: anywhere;
        }
    }

    .buttons-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    button {
        appearance: none;
        border: 0px;
        background: #212121;
        color: #ffffff;
        padding: 8px;
        border-radius: 7px;
        cursor: pointer;
        font-size: 13px;
        height: 34px;
        &:hover {
            opacity: 0.8;
        }
        &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
        &.hint-button[title] {
            background-color: #afa73e;
            // color: #000000;
            cursor: help;
            opacity: 1;
        }
    }

    // for new design
    bottom: 10px;
    right: 10px;
    width: 206px;
    // min-height: 300px;
}

// for old design
.skin-vector-legacy {
    #wiki-quiz-root {
        left: 10px;
        right: auto;
        width: 166px;
    }
}
