#wiki-quiz-root {
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 0px 0px 8px #999999;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .target-title {
            font-weight: bold;
        }
    }

    button {
        appearance: none;
        border: 0px;
        background: #438972;
        color: #ffffff;
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    // for new design
    bottom: 10px;
    right: 10px;
    width: 206px;
    // min-height: 300px;
}

// for old design
.skin-vector-legacy {
    #wiki-quiz-root {
        left: 10px;
        right: auto;
        width: 166px;
    }
}
